{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <script src="{% static 'home/js/Dynamics.js' %}"></script>
    <title>Octabyte SMAN8 Bandung...</title>
</head>
<body class="backgraund">

    <section id="Beranda">

        <div class="logoGroup">
            <H2 class="logo">My</H1>
            <H1 class="logo">First Website</H1>
        </div>

        <header class="structure">
            <div class="SKiri">
            <h3><a href="#Beranda">Beranda</a></h3>
            <h3><a href="">Materi Pembelajaran</a></h3>
            <h3><a href="">Proyek</a></h3>
            <h3><a href="">Kegiatan</a></h3>
            <h3><a href="">Kontak</a></h3>
            </div>

            <div class="SKanan">
                <a href="" class="Bergabung"><span>Bergabung Dengan Kami!</span></a>
            </div>
        </header>

        <section class="Beranda">
            <div class="Beranda2">
                <h1 class="TeksBeranda">Ekstra kulikuler IT</h1>
                <h1 class="TeksBeranda">di SMAN 8 Bandung.</h1>
            </div>
        </section>

    </section>
    
</body>
</html>